<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <app-topbar></app-topbar>


        <div class="main-content">
          <div class="container-fluid"> 
          <!-- <app-questionnaire _nghost-c9="" class="ng-star-inserted"><div class="main-content"> -->                    
              <div class="row">


                      <div class="col-md-12">
                          <div class="card">
                              <div class="card-header card-header-danger">
                                  <h4 class="card-title">100 % Anonymous and Confidential</h4>
                                  
                              </div>
                              <div class="card-body">
                                <div class="col-md-12">
                                    <div class="privew">
                                        <div class="questionsBox">
                                            <div class="questions">Which of the following is correct about data-keyboard Data attribute of Modal Plugin?</div>
                                            <ul class="answerList">
                                                <li>
                                                  <input id="test11" name="radio-group1" type="radio">
                                                  <label for="test11">It specifies static for a backdrop, if you don't want the modal to be closed when the user clicks outside of the modal.</label>
                                                </li>
                                                <li>
                                                  <input id="test12" name="radio-group1" type="radio">
                                                  <label for="test12">It closes the modal when escape key is pressed; set to false to disable.</label>
                                                </li>
                                                <li>
                                                  <input id="test13" name="radio-group1" type="radio">
                                                  <label for="test13">It shows the modal when initialized.</label>
                                                </li>
                                                <li>
                                                  <input id="test14" name="radio-group1" type="radio">
                                                  <label for="test14">Using the jQuery .load method, injects content into the modal body. If an href with a valid URL is added, it will load that content.</label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="questionsBox">
                                            <div class="questions">Which of the following is correct about data-keyboard Data attribute of Modal Plugin?</div>
                                            <ul class="answerList">
                                                <li>
                                                  <input id="test1" name="radio-group" type="radio">
                                                  <label for="test1" style="width: 100%;">True</label>
                                                </li>
                                                <li>
                                                  <input id="test2" name="radio-group" type="radio">
                                                  <label for="test2" style="width: 100%;">False</label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="questionsRow"><a class="button" id="nextquestions">Next</a><span>2 of 20</span></div>
                                    </div>
                                </div>
                              </div>
                          </div>
                      </div>



              </div>                  
          <!-- </app-questionnaire> -->
          </div>            
          
        </div>


    <div> <!--*ngIf="isMaps('maps')"-->
      <app-footer></app-footer>
  </div>
  </div>
</div>