<div class="main-content">
    <div class="container-fluid">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">{{survey.surveyInfo.name}}</legend>

            <ng-container *ngIf="!surveyCompleted">
                <div class="row" style="margin-bottom:-15px;">
                    <div class="col-md-4 " *ngFor="let questionGroup of survey.questionGroups"> 
                        <div class="alert center" [ngClass]="{'alert-info': questionGroup.questionGroupId==currentQuestionGroup}">
                            <span>{{questionGroup.questionGroupName}}({{questionGroup!.questionsToBeAnswered}})</span>
                        </div>
                    </div>
                </div>
                <ng-container *ngFor="let questionGroup of survey.questionGroups">
                    <ng-container *ngIf="questionGroup.questionGroupId==currentQuestionGroup">
                            <div class="row marginBottom" style="margin-top:1px">
                                <div class="col-md-12">
                                    <div class="alert ">
                                        <span>{{questionGroup.questionGroupDescription}}</span>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                </ng-container>
                <ng-container *ngFor="let questionGroup of survey.questionGroups">
                    <ng-container *ngFor="let driver of questionGroup.drivers">
                        <ng-container *ngIf="driver.id==currentQuestionGroupDriver">
                            <div class="row marginBottom">
                                <div class="col-md-12">
                                    <div class="alert darkBackground center">
                                        <span>{{driver.driverName}}--{{pageNo}}</span>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!surveyCompleted">
                <ng-container *ngFor="let questionGroup of survey.questionGroups">
                    <ng-container *ngFor="let driver of questionGroup.drivers">
                        <ng-container *ngIf="driver.id==currentQuestionGroupDriver">
                            <ng-container *ngFor="let question of driver.questions">
                                <ng-container *ngIf="question.id==firstQuestionId">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card questionCard">
                                                <div class="card-header darkBackground questionName">
                                                    <h4 class="title">{{question.questionName}}</h4>
                                                </div>
                                                <div class="card-content row ">
                                                    <div class="col-md-8 questionText">
                                                        {{question.questionText}}
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row option" (click)="chooseAnswer(questionGroup,question,option,1)" *ngFor="let option of question.options">
                                                            <div class="col-md-2 darkBackground">
                                                                <input type="radio" class="radioCenter" [checked]="checked(question.userSelection,option)" [name]="question.id" [value]="option.value"
                                                                    (change)="chooseAnswer(questionGroup,question,option,1)">
                                                            </div>
                                                            <div class="col-md-9">
                                                                {{option.value}}
                                                            </div>
                                                        </div>
                                                        <!--<ng-container *ngIf="question.questionTypeName=='yes/no'">
                                                                    <div class="row yesNo" (click)="chooseAnswer(questionGroup,question,'yes',1)">
                                                                        <div class="col-md-2 darkBackground">
                                                                            <input type="radio" class="radioCenter" [checked]="question.userSelection=='yes'" [name]="question.id" [value]="yes" (change)="chooseAnswer(questionGroup,question,'yes',1)">
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            Yes
                                                                        </div>
                                                                    </div>
                                                                    <div class="row yesNo" (click)="chooseAnswer(questionGroup,question,'no',1)">
                                                                        <div class="col-md-2 darkBackground">
                                                                            <input type="radio" class="radioCenter" [checked]="question.userSelection=='no'" [name]="question.id" [value]="no" (change)="chooseAnswer(questionGroup,question,'no',1)">
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            No
                                                                        </div>
                                                                    </div>
                                                                </ng-container>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="question.id==secondQuestionId">
                                    <div class="row ">
                                        <div class="col-md-12">
                                            <div class="card questionCard">
                                                <div class="card-header darkBackground questionName ">
                                                    <h4 class="title">{{question.questionName}}</h4>
                                                </div>
                                                <div class="card-content row ">
                                                    <div class="col-md-8 questionText">
                                                        {{question.questionText}}
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row option" (click)="chooseAnswer(questionGroup,question,option,2)" *ngFor="let option of question.options">
                                                            <div class="col-md-2 darkBackground">
                                                                <input type="radio" class="radioCenter" [checked]="checked(question.userSelection,option)"   [name]="question.id" [value]="option.value"
                                                                    (change)="chooseAnswer(questionGroup,question,option,2)">
                                                            </div>
                                                            <div class="col-md-9">
                                                                {{option.value}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <button mat-raised-button type="submit" class="btn btn-info pull-left" *ngIf="pageNo>1" (click)="goBackQuiz()">Back</button>
                <button mat-raised-button type="submit" class="btn btn-info pull-right" [ngClass]="{'darkBackground':answeredQuestions()}"
                    [disabled]="answeredQuestions()" (click)="continueSurvey()">Continue</button>
                <div class="clearfix"></div>
                <div class="row marginBottom">
                    <div class="col-md-12">
                        <div class="progress">
                            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" [attr.aria-valuenow]="numberOfAnswered*100/totalNumberOfQuestions"
                                aria-valuemin="0" [attr.aria-valuemax]="totalNumberOfQuestions" [style.width]="numberOfAnswered/totalNumberOfQuestions | percent:'1.0-1'">
                                {{numberOfAnswered/totalNumberOfQuestions | percent:'1.0-1'}} Complete
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="surveyCompleted">
                <div class="row marginBottom surveyCompleted" *ngIf="submissionMessage!=''">
                    <div class="col-md-12">
                        <div class="alert center">
                            <span>{{submissionMessage}}</span>
                        </div>
                    </div>
                </div>
                <div class="row-fluid marginBottom surveyCompleted">
                    <div class="col-md-12">
                        <div class="alert darkBackground center">
                            <span>{{survey.surveyInfo.exitMessage}}</span>
                        </div>
                    </div>
                </div>
            </ng-container>
        </fieldset>
    </div>
</div>


<!-- <div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-11">
                <div class="card">

                    <div class="card-header" style="background-color: rgb(49, 153, 28);">
                        <h4 class="card-title center" style="color: white; font-family: Arial, Helvetica, sans-serif">100 % Anonymous and Confidential</h4>
                    </div>

                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">{{survey.surveyInfo.name}}</legend>

                        <ng-container *ngIf="!surveyCompleted">
                            <div class="row" style="margin-bottom:-15px;">
                                <div class="col-md-4 " *ngFor="let questionGroup of survey.questionGroups"> 
                                    <div class="alert center" [ngClass]="{'alert-info': questionGroup.questionGroupId==currentQuestionGroup}">
                                        <span>{{questionGroup.questionGroupName}}({{questionGroup!.questionsToBeAnswered}})</span>
                                    </div>
                                </div>
                            </div>
                            <ng-container *ngFor="let questionGroup of survey.questionGroups">
                                <ng-container *ngIf="questionGroup.questionGroupId==currentQuestionGroup">
                                        <div class="row marginBottom" style="margin-top:1px">
                                            <div class="col-md-12">
                                                <div class="alert ">
                                                    <span>{{questionGroup.questionGroupDescription}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                            </ng-container>
                            <ng-container *ngFor="let questionGroup of survey.questionGroups">
                                <ng-container *ngFor="let driver of questionGroup.drivers">
                                    <ng-container *ngIf="driver.id==currentQuestionGroupDriver">
                                        <div class="row marginBottom">
                                            <div class="col-md-12">
                                                <div class="alert darkBackground center">
                                                    <span>{{driver.driverName}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="!surveyCompleted">
                            <ng-container *ngFor="let questionGroup of survey.questionGroups">
                                <ng-container *ngFor="let driver of questionGroup.drivers">
                                    <ng-container *ngIf="driver.id==currentQuestionGroupDriver">
                                        <ng-container *ngFor="let question of driver.questions">
                                            <ng-container *ngIf="question.id==firstQuestionId">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="card questionCard">
                                                            <div class="card-header darkBackground questionName">
                                                                <h4 class="title">{{question.questionName}}</h4>
                                                            </div>
                                                            <div class="card-content row ">
                                                                <div class="col-md-8 questionText">
                                                                    {{question.questionText}}
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="row option" (click)="chooseAnswer(questionGroup,question,option,1)" *ngFor="let option of question.options">
                                                                        <div class="col-md-2 darkBackground">
                                                                            <input type="radio" class="radioCenter" [checked]="checked(question.userSelection,option)" [name]="question.id" [value]="option.value"
                                                                                (change)="chooseAnswer(questionGroup,question,option,1)">
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            {{option.value}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="question.id==secondQuestionId">
                                                <div class="row ">
                                                    <div class="col-md-12">
                                                        <div class="card questionCard">
                                                            <div class="card-header darkBackground questionName ">
                                                                <h4 class="title">{{question.questionName}}</h4>
                                                            </div>
                                                            <div class="card-content row ">
                                                                <div class="col-md-8 questionText">
                                                                    {{question.questionText}}
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="row option" (click)="chooseAnswer(questionGroup,question,option,2)" *ngFor="let option of question.options">
                                                                        <div class="col-md-2 darkBackground">
                                                                            <input type="radio" class="radioCenter" [checked]="checked(question.userSelection,option)"   [name]="question.id" [value]="option.value"
                                                                                (change)="chooseAnswer(questionGroup,question,option,2)">
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            {{option.value}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                            <button mat-raised-button type="submit" class="btn btn-info pull-right" [ngClass]="{'darkBackground':answeredQuestions()}"
                                [disabled]="answeredQuestions()" (click)="continueSurvey()">Continue</button>
                            <div class="clearfix"></div>
                            <div class="row marginBottom">
                                <div class="col-md-12">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" [attr.aria-valuenow]="numberOfAnswered*100/totalNumberOfQuestions"
                                            aria-valuemin="0" [attr.aria-valuemax]="totalNumberOfQuestions" [style.width]="numberOfAnswered/totalNumberOfQuestions | percent:'1.0-1'">
                                            {{numberOfAnswered/totalNumberOfQuestions | percent:'1.0-1'}} Complete
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="surveyCompleted">
                            <div class="row marginBottom surveyCompleted" *ngIf="submissionMessage!=''">
                                <div class="col-md-12">
                                    <div class="alert center">
                                        <span>{{submissionMessage}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid marginBottom surveyCompleted">
                                <div class="col-md-12">
                                    <div class="alert darkBackground center">
                                        <span>{{survey.surveyInfo.exitMessage}}</span>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div> -->