<div class="slide-wrapper">
  <div class="container">
              <div class="row">
                   <article class="col-md-12">
                        <img src="/assets/img/404.svg" class="svg img-responsive text-center" alt="404 icon" width="600" height="250">
                        <h1>BROKEN</h1>
                        <p>The page you are looking for was moved, removed, renamed or might never existed.</p>
                   </article>
              </div>
  <!--end-of-wrapper-->
  
  <footer>
       <div class="col-md-12 text-center">Insypher © <span class="year">2018</span>. All Rights Reserved.</div>
  </footer>
  </div>
  <!--end-of-container-->
  </div>
  
  <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 833px; width: 2560px; z-index: -999999; position: fixed;">
    <img style="position: absolute; margin: 0px; padding: 0px; border: none; width: 2560px; height: 1440px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -303.5px;" src="/assets/img/slide1.jpg">
  </div>
