<div class="main-content">
  <div class="container-fluid">
    <div class="row marginBottom" style="margin-top:1px">
      <div class="col-md-4" style="background-color:#311a41;">
        <img src="/assets/images/ROB_logo.png" style="height:50px!important;background-color:#311a41;" />
      </div>
      <div class="col-md-5" style="background-color:#311a41;">

      </div>
      <div class="col-md-3" style="display: inline;background-color:#311a41;">
        <div style="background-color:ivory!important;border-radius: 6px;margin:2%" *ngIf="selectedQuestion!=null">
          <div class="selectedQueHeader"> Selected Question</div>
          <div class="selectedQueText"> {{selectedQuestion!.questionText}}</div>
          <div>
            <span class="selectedQueAnswer">Answered </span>
            <span class="selectedQueAnsText">{{selectedQuestion!.userSelection}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row marginBottom" style="margin-top:1px;height:300px;">
      <div class="col-md-4" style="border: 1px solid dimgrey;border-radius: 7px;margin-top:1%;">
        <div class="row">
          <div class="col-md-12">
            <div class="dropdown" style="width:100%">
              <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" style="width:100%">
                {{selectedIteration.iterationName}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" style="width:100%" role="menu" aria-labelledby="menu1">
                <li role="presentation" *ngFor="let iteration of iterations" (click)="loadIterationGraph(iteration)">
                  <a role="menuitem">{{iteration.iterationName}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row" style="margin-bottom:2%;height:60px;">
          <div class="col-md-4">
            <label>Department Average</label>
          </div>
          <div class="col-md-8">
            <div class="progress" style="height:45px">
              <div class="progress-bar progress-bar-info progress-bar-striped progress-bar-animated" [style.width.%]="selectedIteration.data.departmentalAverage"
                style="height:45px">
                {{selectedIteration.data.departmentalAverage}}%
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom:2%;height:60px;">
          <div class="col-md-4">
            <label>Company Average</label>
          </div>
          <div class="col-md-8">
            <div class="progress" style="height:45px">
              <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" [style.width.%]="selectedIteration.data.companyAverage"
                style="height:45px">
                {{selectedIteration.data.companyAverage}}%
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom:2%;height:60px;">
          <div class="col-md-4">
            <label>Your Progress</label>
          </div>
          <div class="col-md-8">
            <div class="progress" style="height:45px">
              <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" [style.width.%]="selectedIteration.data.totalProgress"
                style="height:45px">
                {{selectedIteration.data.totalProgress}}%
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <img src="/assets/images/RoB_people_circle.png" style="height: 292px;opacity: 0.1;margin-top: 4px;margin-left: 162px;" />
        <div class="centered">75%</div>
      </div>
      <div class="col-md-4" style="border: 1px solid dimgrey;border-radius: 7px;margin-top:1%;">
        <div style="height: 100px">
            <combo-chart-component class="chart-container" [view]="view" [scheme]="comboBarScheme" [colorSchemeLine]="lineChartScheme" [results]="barChart" [animations]="animations"  [lineChart]="lineChartSeries"  [tooltipDisabled]="false"  [yAxisTickFormatting]="yLeftTickFormat"  [yLeftAxisScaleFactor]="yLeftAxisScale" [yRightAxisScaleFactor]="yRightAxisScale" [yRightAxisTickFormatting]="yRightTickFormat" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"  [legendTitle]="legendTitle" [showGridLines]="showGridLines"   [showXAxisLabel]="showXAxisLabel"   [showYAxisLabel]="showYAxisLabel"   [showRightYAxisLabel]="showYAxisLabel"   [xAxisLabel]="xAxisLabel"    [yAxisLabel]="yAxisLabel"  [yAxisLabelRight]="yAxisLabelRight" (select)="onSelect($event)">
          </combo-chart-component>
        </div>
      </div>
    </div>
    <div class="row marginBottom" style="margin-top:140px">
      <div class="col-md-12 text-center">
        <ng-container *ngFor="let questionGroup of currentSurvey.questionGroups">
          <ng-container *ngFor="let driver of questionGroup.drivers">
            <ng-container *ngFor="let question of driver.questions">
              <ng-container *ngIf="question.userSelection==undefined||question.userSelection=='no'||question.userSelection=='false'||question.userSelection==''">
                <span class="vl noAnswer" [ngClass]="getClass(questionGroup)" [title]="getTitle(driver,question)" (click)="selectQuestion(question)">
                </span>
              </ng-container>
              <ng-container *ngIf="question.userSelection!='no'&&question.userSelection!='false'&&question.userSelection!=''">
                <span class="vl" [ngClass]="getClass(questionGroup)" [title]="getTitle(driver,question)" (click)="selectQuestion(question)">
                </span>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>