<div class="wrapper">
    <div class="sidebar" [attr.data-color]="color" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <app-topbar></app-topbar>


        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let card of cards">
                        <div class="card card-stats" title={{card.contentType}}>
                            <div class="card-header card-header-icon" [ngClass]="card.color">
                                <div class="card-icon">
                                    <i class="material-icons">{{card.icon}}</i>
                                </div>
                                <p class="card-category">{{card.label}}</p>
                                <h3 class="card-title">{{card.value}}</h3>
                            </div>

                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">info</i> {{card.footerText}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-chart">
                            <div class="card-header card-header-success">
                                <div class="ct-chart" id="lineChart"></div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">{{lineChartData.header}}</h4>
                                <p class="card-category">{{lineChartData.infoMessage}}</p>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    {{lineChartData.footer}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-chart">
                            <div class="card-header card-header-warning">
                                <div class="ct-chart" id="barChart"></div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">{{barChartData.header}}</h4>
                                <p class="card-category">{{barChartData.infoMessage}}</p>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    {{barChartData.footer}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-chart">
                            <div class="card-header card-header-danger">
                                <div class="ct-chart" id="pieChart"></div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">{{pieChartData.header}}</h4>
                                <p class="card-category">{{pieChartData.infoMessage}}</p>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    {{pieChartData.footer}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

            <div>
                <app-footer></app-footer>
            </div>
        </div>
    </div>