<div class="wrapper">
  <div class="sidebar" data-color="danger" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-topbar></app-topbar>

    <div class="main-content">
      <div class="container-fluid">
        <form #frmSurvey="ngForm">
          <h5 *ngIf="survey.surveyInfo.surveyId==''">Create New Restore Program</h5>
          <h5 *ngIf="survey.surveyInfo.surveyId!=''">Edit Restore Program</h5>
          
          <div class="row">
              <div class="col-md-12 alert alert-danger" *ngIf="errorMessage!=''">
                <strong>Error! </strong>
                {{errorMessage}}
              </div>
            </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card" id="exTab2">
                <div class="panel with-nav-tabs panel-info">
                  <div class="panel-heading">
                    <ul class="nav nav-tabs">
                      <li [ngClass]="{'active':isTabActive('info'),'':!isTabActive('info')}" style="margin-left:3px;">
                        <a (click)="setActiveTab('info')" id="pills-info-tab" data-toggle="pill" href="#pills-info" role="tab" aria-controls="pills-info"
                          aria-selected="true">Restore Program Info</a>
                      </li>
                      <li [ngClass]="{'active':isTabActive('iteration'),'disabled':isIterationTabDisabled()}" style="margin-left:3px;">
                          <ng-container *ngIf="!isIterationTabDisabled()">
                            <a (click)="setActiveTab('iteration')" id="pills-groups-tab" data-toggle="pill" href="#pills-groups" role="tab" aria-controls="pills-groups"
                              aria-selected="true">Healthchecks</a>
                          </ng-container>
                          <ng-container *ngIf="isIterationTabDisabled()">
                            <a role="tab" aria-controls="pills-groups" aria-selected="true">Healthchecks</a>
                          </ng-container>
                        </li>
                      <li [ngClass]="{'active':isTabActive('groups'),'disabled':isGroupTabDisabled()}" style="margin-left:3px;">
                        <ng-container *ngIf="!isGroupTabDisabled()">
                          <a (click)="setActiveTab('groups')" id="pills-groups-tab" data-toggle="pill" href="#pills-groups" role="tab" aria-controls="pills-groups"
                            aria-selected="true">Groups</a>
                        </ng-container>
                        <ng-container *ngIf="isGroupTabDisabled()">
                          <a role="tab" aria-controls="pills-groups" aria-selected="true">Question Groups</a>
                        </ng-container>
                      </li>
                      <li [ngClass]="{'active':isTabActive('drivers'),'disabled':isDriverTabDisabled()}" style="margin-left:3px;">
                        <ng-container *ngIf="!isDriverTabDisabled()">
                          <a (click)="setActiveTab('drivers')" id="pills-drivers-tab" data-toggle="pill" href="#pills-drivers" role="tab" aria-controls="pills-drivers"
                            aria-selected="true">Drivers</a>
                        </ng-container>
                        <ng-container *ngIf="isDriverTabDisabled()">
                          <a role="tab" aria-controls="pills-drivers" aria-selected="true">Drivers</a>
                        </ng-container>

                      </li>
                      <li [ngClass]="{'active':isTabActive('questions'),'disabled':isQuestionTabDisabled()}" style="margin-left:3px;">
                        <ng-container *ngIf="!isQuestionTabDisabled()">
                          <a (click)="setActiveTab('questions')" id="pills-questions-tab" data-toggle="pill" href="#pills-questions" role="tab" aria-controls="pills-questions"
                            aria-selected="true">Questions</a>
                        </ng-container>
                        <ng-container *ngIf="isQuestionTabDisabled()">
                          <a role="tab" aria-controls="pills-drivers" aria-selected="true">Questions</a>
                        </ng-container>
                      </li>
                    </ul>
                  </div>
                  <div class="panel-body">
                    <div class="tab-content">
                      <div class="tab-pane fadein active ">
                        <ng-container *ngIf="isTabActive('info')">
                          <app-survey-info [(surveyObj)]="survey" [(reset)]="infoFormReset"></app-survey-info>
                        </ng-container>
                        <ng-container *ngIf="isTabActive('iteration')">
                          <app-survey-iteration [(surveyObj)]="survey"></app-survey-iteration>
                        </ng-container>
                        <ng-container *ngIf="isTabActive('groups')">
                          <app-question-group [(surveyObj)]="survey" (selectedGroup)="groupSelected($event)"></app-question-group>
                        </ng-container>
                        <ng-container *ngIf="isTabActive('drivers')">
                          <app-question-driver [(surveyObj)]="survey" [group]="selectedGroup" (selectedDriver)="driverSelected($event)"></app-question-driver>
                        </ng-container>
                        <ng-container *ngIf="isTabActive('questions')">
                          <app-question [(surveyObj)]="survey" [group]="selectedGroup" [driver]="selectedDriver"></app-question>
                        </ng-container>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button mat-raised-button type="submit" [disabled]="!validate()" class="btn btn-danger pull-right" *ngIf="isEdit" (click)="saveSurvey(template)">Update</button>
          <button mat-raised-button type="submit" [ngClass]="{'active': !validate(), 'disabled':!validate()}" class="btn btn-danger pull-right" *ngIf="!isEdit" (click)="saveSurvey(template)">Save</button>
          <!-- [disabled] = "!validate()" -->
        </form>
      </div>
    </div>

    <div>
      <app-footer></app-footer>
    </div>
  </div>
</div>

<div class="overlay-box" *ngIf="loading"><div class="loader" ></div></div>

<div class="loader-wrapper" id="loader-1" *ngIf="loading">
    <div id="loader"></div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{templateHeader}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="main-content">
        <div class="container-fluid">
            <div class="row">
            <div class="col-md-12">
               {{templateMessage}}
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="OnYes()">Yes</button>
      <button type="button" class="btn btn-default" (click)="OnNo()">No</button>
    </div>
</ng-template>