<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <app-topbar></app-topbar>


        <div class="main-content">
            <div class="container-fluid"> 
                <div class="row">

                  <div class="col-md-10">
                        <div class="card">
                            <div class="card-body text-center">
                              Total Progress goes here
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-body">
                              <div class="row center">
                                <div class="col-sm-2"><i class="material-icons md-48">stars</i></div>
                                <div class="col-sm-2"><i class="material-icons md-48">hourglass_empty</i></div>
                                <div class="col-sm-2"><i class="material-icons md-48">people</i></div>
                              </div>
                            </div>
                        </div>
                    </div>

                </div>
          
                <div class="row">          
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-body">
                              Health Check 1 goes here
                            </div>
                        </div>
                    </div>
          
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-body">
                                Health Check 2 goes here
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-body">
                                Health Check 3 goes here
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-body">
                                Health Check 4 goes here
                            </div>
                        </div>
                    </div>
          
                </div>
          
                <div class="row">
          
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-body">
                              Stacked Donut chart goes here
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-body">
                              Culture graph goes here
                            </div>
                        </div>
                    </div>

                </div>

            </div>            
          
          </div>


    <div> <!--*ngIf="isMaps('maps')"-->
      <app-footer></app-footer>
  </div>
  </div>
</div>